body{
	background: #f7f7f7;
	font-family: "Roboto", sans-serif;
	line-height: 1;
}
.card{
	border-radius: 0;
  border: 0;
  height: 100%;
}

.card > .card-header{
	background: transparent;
	border-bottom:1px solid #eee;
}

.form-control{
	border-radius: 0;
}
.form-control:focus{
	box-shadow: none;
}

.icon-user{
	position: absolute;
	top: 18px;
	right: 18px;
}

.sub-title{
	font-size: 12;
	color: #727272;
	margin-top: 12px;
	display: block;
}

.margin-top{
	margin-top: 10%;
}

.border-box{
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	border: 1px solid rgba(171,169,169, 0,06);
}

.btn {
	border-radius: 0;
}
.input-group-text{
  background: transparent;
  border-radius: 0;
}

.input-login{
  border-left: 0;
  padding-left: 0;
}

.input-login:focus{
  border-color: #ced4da;
  box-shadow: none;
}

@media only screen and (max-width: 758px) {
  .mt-12 {
    margin-top: 0;
  }
}

